<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETAIL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="../css/detail-style.css">
</head>
    
<body>
  <div class="config">
    <div class="back"> <a href="../index.html" class="btn_back"><i
        class="fa-solid fa-chevron-left"></i></a></div>
    <div class="options"><i class="fa-solid fa-ellipsis"></i></div>
  </div>

  <div class="background">
    <img src="../storage/detail-img/Rectangle 4111.png" alt="" class="fondo">
  </div>
    <div class="info">
                <!-- Event information -->
            <div class="info-event">
              <div class ="another">
                <h3>Coldplay: <h3 class="tituloh3"> Music of the Spheres</h3>
                </h3>
              
              </div>
              
              <p><i class="fas fa-map-marker-alt"></i> Gelora Bung Karno Stadium, Jakarta</p>
              <p><i class="fas fa-calendar-alt"></i> November 15 2023</p>
      
      
                <!-- participants -->
              <div class="participant_section">
                <div class="images_participant_section">
                  <img src="../storage/detail-img/Group 1.svg" alt="Participant" />
                </div>
                <p class="participants_text">40K+ Participants</p>
              </div>
            </div>
        </div>
    </div>

    <div class="description">
        <h3>Description</h3>
        <br>
        <p>
          Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit
          auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut,
          facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et
          malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas
          nunc ut tempus. Fu ipsum dolor sit amet. <a href="#">Read More...</a>
        </p>
        <br>
        <h3>
          Venue & Location

        </h3>
    </div>

 
    <div class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.341673098441!2d106.80039117464659!3d-6.218595260906617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f14d30079f01%3A0x2e74f2341fff266d!2sEstadio%20Bung%20Karno!5e0!3m2!1ses!2sco!4v1739947946084!5m2!1ses!2sco" 
        width="350px" 
        height="215px" 
        style="border: 0px;;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>  
    </div>

   
    <footer class="footer">
        <div class="info-footer">
          <div>
            <small>Start from</small>
            <br>
            <b>IDR 1.400.000</b>
          </div>
    
          <div class="btn">
            <a class="btn-buy" href="../views/ticket.html">Buy Ticket</a>
    
          </div>
        </div>
      </footer>
</body>
</html>