<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
        <div class="top">
          <button class="top_hicon_button hicon_button">
            <img src="/storage/img/Menu.svg" alt="">
          </button>

             <!-- Notifications button -->
          <button type="button" class="hicon_button" onclick="toggleMenu()">
            <span class="material-hicons"></span>
            <img src="/storage/img/Frame 34567.svg" alt=""> 
            <span class="hicon-button_badge">4</span>      
          </button>
        </div>

        <h1>Find</h1>
        <h1 class="firsth1">Trending Events</h1>

            <!-- Hicons search -->
        <div class="search_container grid">
          
            <img class="hicons_search" src="/storage/img/Search 3.svg" alt="">
       
          <input type="search" class="grid_item input_search" placeholder="Search events..." class="search_input" />
          <i class="grid_item">
            <img class="hicons_search2" src="/storage/img/Filter 6.svg" alt="">
          </i>
        </div>

           <!-- Categories Nav -->
        <nav>
          <ul>
            <li><a href="#">Music Concert</a></li>
            <li><a href="#">Exhibition</a></li>
            <li><a href="#">Stand Up Show</a></li>
            <li><a href="#">Theater</a></li>
            <li><a href="#">Comedy</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Family</a></li>
            <li><a href="#">Circus</a></li>
          </ul>
        </nav>
  </header>

 <!----- section events ------>
  <section id="trending_section">

    
    <div class="trending">
    <b style="font-size: 1.5rem">Trending Events</b>
    <a href="$#">See all</a> 
    </div>
    
    <!-- Carousel Section -->
    <div class="carousel">

      <!-- each card for every event-->

     <div class="carousel-item">
        <a href=""><img src="../storage/img/Frame 34607.svg" alt="" /></a> 
      </div>
      <div class="carousel-item">
        <a href=""><img src="../storage/img/Frame 34608.svg" alt="" /></a> 
      </div>
      <div class="carousel-item">
        <a href=""><img src="../storage/img/Frame 34607.svg" alt="" /></a> 
      </div>
      <div class="carousel-item">
        <a href=""><img src="../storage/img/Frame 34608.svg" alt="" /></a> 
      </div>
      <div class="carousel-item">
        <a href=""><img src="../storage/img/Frame 34607.svg" alt="" /></a> 
      </div>

    </div>

  </section>

  <section>
    <div class="near_trending">
      <b font-size: 2rem;>Events Near You</b>
      <a href="$#">See all</a>

    </div>

    <!-- Events "near you" grid -->

    <div class="container">
      <div class="grid_events">

          <!-- Individual card -->

        <div class="card_event">
            <img src="../storage/img/muse.svg" alt="Muse: Will of the People" class="img_event" />
            <div class="details">
              <h3 class="title">
                Muse : Will of the People              </h3>
              <p class="location">
                <svg class="icon" viewBox="0 0 24 24">
                  <path
                    d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                </svg>
                Jakarta, Indonesia
              </p>
              <p class="date">
                <svg class="icon" viewBox="0 0 24 24">
                  <path
                    d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z" />
                </svg>
                July 23 2023
              </p>
             
              <p class="price"> 
                <svg class="icontag" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path 
                    d="M21 11.5V3H12.5L3 12.5L11.5 21L21 11.5ZM19 5V10.1L11.5 17.6L6.4 12.5L14 5H19ZM16.5 8C17.328 8 18 7.328 18 6.5C18 5.672 17.328 5 16.5 5C15.672 5 15 5.672 15 6.5C15 7.328 15.672 8 16.5 8Z"/>
              </svg> IDR 500.000</p>
            </div>
        </div>

        <div class="card_event">
          <img src="../storage/img/onedirection.svg" alt="Muse: Will of the People" class="img_event" />
          <div class="details">
            <h3 class="title">
              One Direction : Where We Are            
            </h3>
            <p class="location">
              <svg class="icon" viewBox="0 0 24 24">
                <path
                  d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
              </svg>
              Jakarta, Indonesia            
            </p>
            <p class="date">
              <svg class="icon" viewBox="0 0 24 24">
                <path
                  d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z" />
              </svg>
              Oct 29 2023
            </p>
           
            <p class="price"> 
              <svg class="icontag" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path 
                  d="M21 11.5V3H12.5L3 12.5L11.5 21L21 11.5ZM19 5V10.1L11.5 17.6L6.4 12.5L14 5H19ZM16.5 8C17.328 8 18 7.328 18 6.5C18 5.672 17.328 5 16.5 5C15.672 5 15 5.672 15 6.5C15 7.328 15.672 8 16.5 8Z"/>
            </svg> IDR 800.000</p>
          </div>
       </div>

        <div class="card_event">
        <img src="../storage/img/piter albeiro.avif" alt="2" class="img_event" />
        <div class="details">
          <h3 class="title">
            Piter Albeiro en Bucaramanga
          </h3>
          <p class="location">
            <svg class="icon" viewBox="0 0 24 24">
              <path
                d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
            </svg>
            Teatro Santander
          </p>
          <p class="date">
            <svg class="icon" viewBox="0 0 24 24">
              <path
                d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z" />
            </svg>
            14 Mayo 2025
          </p>
         
          <p class="price"> 
            <svg class="icontag" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path 
                d="M21 11.5V3H12.5L3 12.5L11.5 21L21 11.5ZM19 5V10.1L11.5 17.6L6.4 12.5L14 5H19ZM16.5 8C17.328 8 18 7.328 18 6.5C18 5.672 17.328 5 16.5 5C15.672 5 15 5.672 15 6.5C15 7.328 15.672 8 16.5 8Z"/>
          </svg> COP 400.000</p>
        </div>
        </div>

        <div class="card_event">
              <img src="../storage/img/opera queen.png" alt="Muse: Will of the People" class="img_event" />
              <div class="details">
                <h3 class="title">
                  Ópera Queen
                </h3>
                <p class="location">
                  <svg class="icon" viewBox="0 0 24 24">
                    <path
                      d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                  </svg>
                  Teatro Santander
                </p>
                <p class="date">
                  <svg class="icon" viewBox="0 0 24 24">
                    <path
                      d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z" />
                  </svg>
                  17 Mayo 2025
                </p>
               
                <p class="price"> 
                  <svg class="icontag" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path 
                      d="M21 11.5V3H12.5L3 12.5L11.5 21L21 11.5ZM19 5V10.1L11.5 17.6L6.4 12.5L14 5H19ZM16.5 8C17.328 8 18 7.328 18 6.5C18 5.672 17.328 5 16.5 5C15.672 5 15 5.672 15 6.5C15 7.328 15.672 8 16.5 8Z"/>
                </svg> COP 440.000</p>
              </div>
        </div>

        <div class="card_event">
                <img src="../storage/img/uater lu.avif" alt="Muse: Will of the People" class="img_event" />
                <div class="details">
                  <h3 class="title">
                    UATER LU
                  </h3>
                  <p class="location">
                    <svg class="icon" viewBox="0 0 24 24">
                      <path
                        d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                    </svg>
                    Teatro Santander
                  </p>
                  <p class="date">
                    <svg class="icon" viewBox="0 0 24 24">
                      <path
                        d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z" />
                    </svg>
                    14 marzo 2025
                  </p>
                 
                  <p class="price"> 
                    <svg class="icontag" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path 
                        d="M21 11.5V3H12.5L3 12.5L11.5 21L21 11.5ZM19 5V10.1L11.5 17.6L6.4 12.5L14 5H19ZM16.5 8C17.328 8 18 7.328 18 6.5C18 5.672 17.328 5 16.5 5C15.672 5 15 5.672 15 6.5C15 7.328 15.672 8 16.5 8Z"/>
                  </svg> COP 444.000</p>
                </div>
        </div>
        
        <div class="card_event">
          <img src="../storage/img/chabuco.avif" alt="Muse: Will of the People" class="img_event" />
          <div class="details">
            <h3 class="title">
              CHABUCO WORLD MUSIC TOUR
            </h3>
            <p class="location">
              <svg class="icon" viewBox="0 0 24 24">
                <path
                  d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
              </svg>
              Teatro Santander
            </p>
            <p class="date">
              <svg class="icon" viewBox="0 0 24 24">
                <path
                  d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z" />
              </svg>
              24 abril 2025
            </p>
           
            <p class="price"> 
              <svg class="icontag" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path 
                  d="M21 11.5V3H12.5L3 12.5L11.5 21L21 11.5ZM19 5V10.1L11.5 17.6L6.4 12.5L14 5H19ZM16.5 8C17.328 8 18 7.328 18 6.5C18 5.672 17.328 5 16.5 5C15.672 5 15 5.672 15 6.5C15 7.328 15.672 8 16.5 8Z"/>
            </svg> COP 940.000</p>
          </div>
        </div>

        <div class="card_event">
          <img src="../storage/img/falling stars.avif" alt="Muse: Will of the People" class="img_event" />
          <div class="details">
            <h3 class="title">
              How a falling star lit up the purple sky
            </h3>
            <p class="location">
              <svg class="icon" viewBox="0 0 24 24">
                <path
                  d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
              </svg>
              Teatro Santander
            </p>
            <p class="date">
              <svg class="icon" viewBox="0 0 24 24">
                <path
                  d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z" />
              </svg>
              19 marzo 2025
            </p>
           
            <p class="price"> 
              <svg class="icontag" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path 
                  d="M21 11.5V3H12.5L3 12.5L11.5 21L21 11.5ZM19 5V10.1L11.5 17.6L6.4 12.5L14 5H19ZM16.5 8C17.328 8 18 7.328 18 6.5C18 5.672 17.328 5 16.5 5C15.672 5 15 5.672 15 6.5C15 7.328 15.672 8 16.5 8Z"/>
            </svg> COP 490.000</p>
          </div>
      </div>
      </div>
    </div>

  </section>  
</body>
</html>