<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
        <div class="top">
          <button class="top_hicon_button hicon_button">
            <img src="/storage/img/Menu.svg" alt="">
          </button>

             <!-- Notifications button -->
          <button type="button" class="hicon_button" onclick="toggleMenu()">
            <span class="material-hicons"></span>
            <img src="/storage/img/Frame 34567.svg" alt=""> 
            <span class="hicon-button_badge">2</span>      
          </button>
        </div>

        <h1>Find</h1>
        <h1 class="firsth1">Trending Events</h1>

            <!-- Hicons search -->
        <div class="search_container grid">
          
            <img class="hicons_search" src="/storage/img/Search 3.svg" alt="">
       
          <input type="search" class="grid_item input_search" placeholder="Search events..." class="search_input" />
          <i class="grid_item">
            <img class="hicons_search2" src="/storage/img/Filter 6.svg" alt="">
          </i>
        </div>

           <!-- Categories Nav -->
        <nav>
          <ul>
            <li><a href="#">Music Concert</a></li>
            <li><a href="#">Exhibition</a></li>
            <li><a href="#">Stand Up Show</a></li>
            <li><a href="#">Theater</a></li>
            <li><a href="#">Comedy</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Family</a></li>
            <li><a href="#">Circus</a></li>
          </ul>
        </nav>
  </header>

 <!----- section events ------>
  <section id="trending_section">

    
    <div class="trending">
    <b style="font-size: 1.5rem">Trending Events</b>
    <a href="">See all</a> 
    </div>
    
    <!-- Carousel Section -->
    <div class="carousel">

      <!-- each card for every event-->

     <div class="carousel-item">
        <a href=""><img src="../storage/img/Frame 34607.svg" alt="" /></a> 
      </div>
      <div class="carousel-item">
        <a href=""><img src="../storage/img/Frame 34608.svg" alt="" /></a> 
      </div>
      <div class="carousel-item">
        <a href=""><img src="../storage/img/Frame 34607.svg" alt="" /></a> 
      </div>
      <div class="carousel-item">
        <a href=""><img src="../storage/img/Frame 34608.svg" alt="" /></a> 
      </div>
      <div class="carousel-item">
        <a href=""><img src="../storage/img/Frame 34607.svg" alt="" /></a> 
      </div>

    </div>

  </section>

</body>
</html>