<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ticket-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <title>TICKET</title>
</head>

<body>
   
    <header>
        <div class="config">
            <div class="back"> <a href="../pages/description.html" class="btn_back"><i
                class="fa-solid fa-chevron-left"></i></a></div>
            <div class="options"><i class="fa-solid fa-ellipsis"></i></div>
        </div>
    </header>
    <section>

        <div class="ticket">
        <div class="ticket_header">
            <div class="ticket_img">
                <img src="../storage/ticket-img/Rectangle 4115.svg" alt="">
            </div>

            
            <div class="grid">
                <b> Coldplay : Music of the Spheres </b>
                <small> Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</small>
                <div class="rows">
                    <div>
                        <div class="title">Name</div>
                        <div class="information">Daniel Arauz</div>
                    </div>
                    <div>
                        <div class="title">Order Number</div>
                        <div class="value">CD00444444</div>
                    </div>
                </div>
                <div class="rows">
                    <div>
                        <div class="title">Date</div>
                        <div class="value">Nov 15 2023</div>
                    </div>
                    <div>
                        <div class="title">Time</div>
                        <div class="value">9:00 PM</div>
                    </div>
                </div>
                <div class="rows">
                    <div>
                        <div class="title">Color</div>
                        <div class="value">Green</div>
                    </div>
                    <div>
                        <div class="title">Seat</div>
                        <div class="value">West D</div>
                    </div>
                </div>

              

            </div>
        </div>

        <div class="ticket_barcode">
            <div class="barcode">
                <img src="../storage/ticket-img/image 1.svg" alt="">
                <p>
                    Scan your barcode at the entry gate.
                </p>
            </div>

            
        </div>
        </div>  

        <div class="ticket">
        <div class="ticket_header">
            <div class="ticket_img">
                <img src="../storage/ticket-img/Rectangle 4115.svg" alt="">
            </div>

            
            <div class="grid">
                <b> Coldplay : Music of the Spheres </b>
                <small> Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</small>
                <div class="rows">
                    <div>
                        <div class="title">Name</div>
                        <div class="information">Carlos Arauz</div>
                    </div>
                    <div>
                        <div class="title">Order Number</div>
                        <div class="value">CD00444449</div>
                    </div>
                </div>
                <div class="rows">
                    <div>
                        <div class="title">Date</div>
                        <div class="value">Nov 15 2023</div>
                    </div>
                    <div>
                        <div class="title">Time</div>
                        <div class="value">9:00 PM</div>
                    </div>
                </div>
                <div class="rows">
                    <div>
                        <div class="title">Color</div>
                        <div class="value">blue</div>
                    </div>
                    <div>
                        <div class="title">Seat</div>
                        <div class="value">West D</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="ticket_barcode">
            <div class="barcode">
                <img src="../storage/ticket-img/image 1.svg" alt="">
                <p>
                    Scan your barcode at the entry gate.
                </p>
            </div>
        </div>
        </div>  
    </section>


</body>

</html>